/* font-family
---------------------------------------------------------------*/
html {
    font-display: swap;
    font-family: "Roboto", sans-serif;
}

input,
textarea,
option,
select,
button {
    font: inherit;
    font-display: inherit;
    font-family: inherit;
}
/*=============================================================*/

/* font-size
---------------------------------------------------------------*/
html {
    font-size: 1em;
}
/*=============================================================*/

/* font-weight
---------------------------------------------------------------*/
html {
    font-weight: 400;
}
b,
strong {
    font-weight: 600;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
}
/*=============================================================*/

/* font-style
---------------------------------------------------------------*/
html {
    font-style: normal;
}
/*=============================================================*/

/* line-height
---------------------------------------------------------------*/
html {
    line-height: 1.4;
}
/*=============================================================*/
