// Colors
$dorminant_1: #6a52ff;
$dorminant_2: #3c4257;

$color_base: #e5e5e5; // default text, etc..
$color_1: #343434; // default text, etc..
$color_2: #555; // hovered link, button, etc..
$color_3: $dorminant_1; // link, buttons, etc..

$title: #1a1f36;

$product_label: #626262;
$product_description: #a7a7a7;
$product_shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
$cart_shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);

$error: #ff6363;
$notification: $error;

$label: #697386;
$input_value: #6c6c6c;
$input_border: #e8e8eb;
